@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
body {
    background: #5fb5f5;
    font-family: 'Gloria Hallelujah', cursive;
}

.app {
    padding-top: 20px;
    padding-bottom: 20px;
    .logo-link{
        cursor: pointer;
    }
    .logo {
        margin-bottom: 30px;
    }
    .hello {
        color: #ffffff;
        margin-bottom: 35px;
    }
    .link {
        width: 100%;
        height: 100%;
        cursor: pointer;
        .icon {
            max-width: 100px;
            max-height: 100px;
        }
        .title {
            margin: 10px;
            font-size: 16px;
            color: #ffffff;
        }
        &:hover {
            opacity: 0.8;
            .title {
                color: greenyellow;
            }
        }
        .active {
            color: greenyellow !important;
        }
    }
    .plans {
        margin-top: 20px;

        .price {
            float: right;
            color: #32ba09;
        }
    }
}